
.container {
	margin-inline: auto;
	width: min(100% - 2rem, 60rem);
}

.grid {
	display: grid;
	flex: 1;
	gap: 1.25rem;

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 160px), 1fr));
		
		/* Albums layout overrides */
		.albums & {
			display: grid;
			gap: 1.5rem;
			width: min(100%, 70rem);
			grid-template-columns: 1fr;

			@media (min-width: 760px) {
				margin-inline: auto;
				grid-template-columns: repeat(4, 1fr);
			}

			/* Main list styling */
			.grid__list-item {
        //box-shadow: 0 15px 25px var(--drop-shadow);
        //border-radius: 0.5rem;
        padding: 0.8rem;

        @for $i from 1 through $repeat {
					&:nth-child(#{length($colors)}n+#{$i}) {
						background: darken(nth($colors, random(length($colors))), 2%);
					}
				}

				@media (min-width: 760px) {
					&:first-of-type {
						grid-column: span 2;
					}
					&:nth-of-type(4) {
						grid-column: span 2;
					}
					&:last-of-type {
						grid-column-start: 4;
						grid-row-start: 1;
						grid-row-end: span 2;
					}
				}
			}
		}

    /* Users layout overrides */
    .users & {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      width: min(100%, 59rem);

      .grid__list-item {
        box-shadow: 0 15px 25px var(--drop-shadow);
        border-radius: 0.5rem;
        padding: 0.8rem;
      }
    }

    .posts & {
      /* column settings */
      --min-column-size: 200px;
      --column-count: 3;
      --gap: 1.5rem;

      /* calculations */
      --breakpoint: calc(var(--min-column-size) * var(--column-count) + (var(--gap) * (var(--column-count) - 1)));
      --column-size: calc((100% / var(--column-count)) - var(--gap));

      display: grid;
      gap: var(--gap);
      grid-template-columns: repeat(
        auto-fit, 
        minmax(
          min(max(var(--column-size), (100% - var(--breakpoint)) * -999), 100%), 1fr)
      );

      .grid__list-item {
        box-shadow: 0 15px 25px var(--drop-shadow);
        border: 1px solid var(--color-white);
        padding: 0.8rem;
      }
    }
	}
    
	&__list-item {
		position: relative;
	}

  .form__input {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    background: #fafafa;
    border-radius: 50px;
    border: 0;
    color: #777;
    font-size: 1rem;
    position: relative;
  }
}
  
/* Navigation and tagging links */
.meta {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem 1rem;
}
