
a,
button {
  //background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  
  &:link,
  &:visited {
    color: var(--button-text);
  }

  &:focus-visible {
    outline: var(--button-hover) 2px solid;
  }

  &:hover {
    color: var(--button-text-hover);
  }
}

button {
  background-color: var(--button-bg-hover);
}
