
/* The custom properties --[name]-[purpose] in the body tag are for the use of
   within the theming classes */
body {
  /* Custom properties */
  --body-text: var(--color-white);
  --heading-text: var(--color-brand);
  --bg: var(--color-black);
  --button-text: var(--color-white);
  --button-text-hover: var(--color-white);
  --button-bg: var(--color-brand);
  --button-bg-hover: var(--color-black);
  --button-bg-shadow: var(--drop-shadow);

  color: var(--body-text);
  background-color: var(--bg);
  font-family: var(--ff-body);
}

/* Settings for .theme- block class with custom properties */
[class*="theme-"] {
  background: var(--bg);
  color: var(--body-text);
}
    
.theme-inverted {
  --bg: var(--color-white);
  --body-text: var(--color-black);
  --heading-text: var(--color-brand);
  --button-text: var(--color-brand);
  --button-bg: var(--color-black);
}
    
@media (prefers-color-scheme: dark) {
  .theme-inverted {
    --bg: var(--color-black);
    --body-text: var(--color-white);
    --heading-text: var(--color-brand);
    --button-text: var(--color-brand);
    --button-bg: var(--color-white);
  }
}
    
.theme-brand {
  --bg: var(--color-brand);
  --body-text: var(--color-white);
  --heading-text: var(--color-white);
  --button-text: var(--color-brand);
  --button-bg: var(--color-white);
}
  
.theme-wild-llama {
  --bg: linear-gradient(45deg, blue, red);
  --body-text: var(--color-white);
  --heading-text: red;
  --button-text: var(--color-brand);
  --button-bg: var(--color-white);
}

.grid {
  padding: 10px;

  &__list {
		list-style: none;
  }

  &__list-item {
		background-color: var(--bg);
  }

  &__list-title {
		color: var(--heading-text);
		font-size: 1.85rem;
		font-weight: var(--fw-600);
		text-transform: uppercase;
		text-align: center;
    margin-top: 0;
	}

	&__img {
		width: 100%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
	}

	&__btn {
		background-color: var(--bg);
		border: 1px solid var(--bg);
		box-shadow: 0 5px 15px var(--color-black);
		border-radius: 0.5rem;
		color: var(--body-text);
		padding: 0.5rem 1rem;
		transition: padding 0.5s ease-in-out;

		&:hover {
			padding: 0.5rem 1.050rem;
		}
	}
}

.form__wrapper {
  input {
    width: 100%;
    padding: 15px 20px;
    background: var(--bg);
    border-radius: 50px;
    border: 5px solid var(--color, blue);
    font-size: 1rem;
    position: relative;
    color: var(--body-text);

    &:focus {
      outline-offset: 5px;
    }
  }
  &:has(:invalid) {
    --color: var(--invalid);
  }
  &:has(:invalid:not(:focus)) {
    animation: shake 0.5s;
  }
  &:has(:focus) {
    --color: var(--focus);
  }
  &:has(:valid) {
    --color: var(--valid);
  }
  &:has(:placeholder-shown) {
    --color: var(--blur);
  }
  &:has(:placeholder-shown:not(:focus)) {
    animation: none;
  }

  .input-hint {
    margin: 0;
    font-size: 1rem;
    color: hsl(0 0% 70%);
  }
}

.nav {
	&__list--tag {
		list-style: none;
	}
}

.footer-inner {
  background: var(--color-brand);
  padding-top: 2rem;
  margin-inline: auto;
  width: min(100%, 59rem);
}

.primary-header {
  min-height: var(--nav-menu-height);
}

.container {
  margin-top: min(var(--nav-menu-height) * 1.5);
}
