
/* The custom properties --[name]-[purpose] in the body tag are for the use of
   within the theming classes */
body {
  /* Custom properties */
  --body-text: var(--color-white);
  --heading-text: var(--color-white);
  --bg: var(--color-black);
  --button-text: var(--color-white);
  --button-text-hover: var(--color-white);
  --button-bg: var(--color-brand);
  --button-bg-hover: var(--color-black);
  --button-bg-shadow: var(--drop-shadow);

  color: var(--body-text);
  background-color: var(--bg);
  font-family: var(--ff-body);
}

/* Settings for .theme- block class with custom properties */
[class*="theme-"] {
  background: var(--bg);
  color: var(--body-text);
}
    
.theme-inverted {
  --bg: var(--color-white);
  --body-text: var(--color-black);
  --heading-text: var(--color-brand);
  --button-text: var(--color-brand);
  --button-bg: var(--color-black);
}
    
@media (prefers-color-scheme: dark) {
  .theme-inverted {
    --bg: var(--color-black);
    --body-text: var(--color-white);
    --heading-text: var(--color-brand);
    --button-text: var(--color-brand);
    --button-bg: var(--color-white);
  }
}
    
.theme-brand {
  --bg: var(--color-brand);
  --body-text: var(--color-white);
  --heading-text: var(--color-white);
  --button-text: var(--color-brand);
  --button-bg: var(--color-white);
}
  
.theme-wild-llama {
  --bg: linear-gradient(45deg, blue, red);
  --body-text: var(--color-white);
  --heading-text: red;
  --button-text: var(--color-brand);
  --button-bg: var(--color-white);
}

.grid-wrapper {
  border: 0.5rem solid var(--color-brand);
}

.grid {
  padding: 10px;

  &__list{
		list-style: none;
  }

  &__list-item {
    border: 1px solid var(--body-text);
		background-color: var(--bg);
  }

  &__list-title {
		color: var(--heading-text);
		font-size: 1.85rem;
		font-weight: var(--fw-600);
		text-transform: uppercase;
		text-align: center;
	}

	&__img {
		width: 100%;
		aspect-ratio: 1 / 1;
		object-fit: cover;
	}

	&__btn {
		background-color: var(--bg);
		border: 1px solid var(--bg);
		box-shadow: 0 5px 15px var(--color-black);
		border-radius: 0.5rem;
		color: var(--body-text);
		padding: 0.5rem 1rem;
		transition: padding 0.5s ease-in-out;

		&:hover {
			padding: 0.5rem 1.050rem;
		}
	}
}

.nav {
	&__tag {
		list-style: none;
	}
}
