@import "./variables.scss";

/*
 * Global reset 
 **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  min-width: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

body {
  /* Custom properties */
  --body-text: var(--color-white);
  --heading-text: var(--color-white);
  --bg: var(--color-black);
  --button-text: var(--color-white);
  --button-bg: var(--color-brand);
  --button-text-hover: var(--color-white);
  --button-bg-hover: var(--color-black);

  color: var(--body-text);
  background-color: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0;
  min-height: 100svh;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

p {
  font-size: 1rem;
  max-width: 75ch;
  text-wrap: pretty;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  shape-margin: 0.75rem;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  html,
  :has(:target) {
    scroll-behavior: smooth;
  }
}

// .article {
//   width: math.div(600px, 960px) * 100%;
// }

// .aside {
//   width: math.div(300px, 960px) * 100%;
// }
